* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
}

body {
  background-color: #000;
  color: #fff;
}

p {
  margin-bottom: 0;
  word-break: keep-all;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border: 0;
}

.wrap {
  width: 100%;
  position: relative;
}

.detail-container {
  width: 100%;
  padding: 0 3em;
}

/* 헤더를 제외한 나머지 컨테이너 */
.detailWrap {
  width: 100%;
  height: 100%;
}

/* 영화 이미지 */
.moiveImg {
  position: relative;
  width: 100%;
  /* max-height: 450px; */
  background-color: #000;
  overflow: hidden;
}

.moiveImg > img {
  padding-top: 3em;
}

/* 영화 이미지 위 그라데이션 */
.background {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 120%);
}

/* 영화 타이틀과 찜 버튼 wrap */
.imgBottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  padding-bottom: 3em;
}

.titleWrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 60%;
  align-items: baseline;
}

/* 찜버튼 wrap */
.deepWrap {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 1em;
}

.deepBtn {
  margin-right: 0.3em;
  cursor: pointer;
}

.deepWrap > p {
  margin-bottom: 0;
  font-size: 14px;
}

.deepWrap .fa-solid {
  color: red;
}

/* 줄거리 및 리뷰 wrap */
.reviewWrap {
  display: flex;
}

/* 영화 제목 */
#movie-title {
  font-size: 32px;
  font-weight: 900;
}

/* 영화 제작년도 */
#movie-year {
  font-size: 16px;
  color: #999;
  margin-bottom: 0.5em;
}

/* 영화 평점 */
#movie-v {
  display: flex;
  align-items: center;
  font-size: 16px;
  padding-bottom: 0.5em;
}

/* 줄거리 타이틀 */
#detail-description > h5 {
  font-size: 20px;
  font-weight: 600;
}

/* 줄거리 문단 */
#detail-description > p {
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: -0.04em;
}

.fa-star {
  margin-right: 0.5em;
}

/* 영화 포스터 */
.posterWrap {
  height: 60vh;
  margin-right: 2em;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  /* width: 100%; */
  min-height: calc(150px * 1.5);
  /* height: calc(150px * 1.5); */
  /* background: #dbdbdb; */
  overflow: hidden;
}

@media screen and (max-width: 1140px) {
  .posterWrap {
    height: 44vh;
  }
}
@media screen and (max-width: 1024px) {
  /* 영화 제목 */
  #movie-title {
    font-size: 24px;
    margin-bottom: 0.1em;
  }
  /* 영화 제작년도 */
  #movie-year {
    font-size: 14px;
  }
  /* 영화 평점 */
  #movie-v {
    font-size: 14px;
  }
  .deepWrap {
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
    margin-bottom: 1em;
  }
  /* 줄거리 타이틀 */
  #detail-description > h5 {
    font-size: 18px;
  }
  /* 줄거리 문단 */
  #detail-description > p {
    font-size: 14px;
    letter-spacing: -0.03em;
  }
  /* 영화 포스터 */
  .posterWrap {
    height: 56vh;
    max-height: 325px;
  }
}

@media screen and (max-width: 960px) {
  .detail-container {
    width: 100%;
    padding: 0 1.5em;
  }
  .imgBottom {
    padding-bottom: 0;
  }
  /* 줄거리 문단 */
  #detail-description > p {
    line-height: 1.4em;
    letter-spacing: -0.04em;
  }
  .deepWrap > p {
    margin-bottom: 0;
    font-size: 12px;
  }
  .fa-regular,
  .far {
    font-weight: 400;
    font-size: 13px;
  }
  .deepWrap .fa-solid {
    color: red;
    font-size: 13px;
  }
  /* 영화 포스터 */
  .posterWrap {
    /* width: 20%; */
    margin-right: 1em;
    height: 30vh;
  }
}

@media screen and (max-width: 768px) {
  .detail-container {
    width: 100%;
    padding: 0 1em;
  }
  /* 영화 제목 */
  #movie-title {
    font-size: 18px;
    margin-bottom: 0;
  }
  /* 영화 제작년도 */
  #movie-year {
    font-size: 12px;
    margin-bottom: 0.2em;
  }
  /* 영화 평점 */
  #movie-v {
    font-size: 12px;
  }
  .fa-star {
    font-size: 10px;
  }
  /* 줄거리 타이틀 */
  #detail-description > h5 {
    font-size: 16px;
  }
  /* 줄거리 문단 */
  #detail-description > p {
    font-size: 12px;
  }
}
@media screen and (max-width: 700px) {
  /* 영화 제목 */
  #movie-title {
    margin-bottom: 0;
  }

  #detail-description > p {
    /* width: 60%; */
    font-size: 14px;
    line-height: 1.4em;
    letter-spacing: -0.04em;
  }
  .deepWrap {
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
    margin-bottom: 0.5em;
  }
}
@media screen and (max-width: 680px) {
  .imgBottom {
    padding-bottom: 0;
    /* max-height: 20vh; */
    position: relative;
    top: -5em;
  }
  .titleWrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: baseline;
    padding-top: 8em;
  }

  /* 줄거리 문단 */
  #detail-description > p {
    width: 90vw;
  }
  /* 영화 포스터 */
  .posterWrap {
    height: 21vh;
    padding-bottom: 1em;
  }
}
@media screen and (max-width: 400px) {
  .imgBottom {
    padding-bottom: 0;
    /* max-height: 20vh; */
    /* position: relative; */
  }
  .titleWrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 50%;
    align-items: baseline;
  }

  /* 줄거리 wrap */
  #detail-description {
    padding-top: 1em;
  }

  /* 영화 포스터 */
  .posterWrap {
    /* height: 30vh; */
    max-width: 40vw;
  }
}
@media screen and (max-width: 290px) {
  .imgBottom {
    padding-bottom: 0;
    /* max-height: 20vh; */
    position: relative;
    top: -3em;
  }
  .titleWrap {
    padding-top: 8em;
    width: 42%;
  }

  /* 영화 포스터 */
  .posterWrap {
    /* width: 20%; */
    margin-right: 0;
    /* max-height: 165px; */
    max-width: 51vw;
  }
}
